<h1>Rock Scissors Paper!</h1>

<form action="/" method="Post">
<div class="radio">
  <label>
    <input type="radio" name="RockScissors" value="0" checked>
    Rock
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="RockScissors" value="1">
    Paper
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="RockScissors" value="2">
    Scissors
  </label>
</div>
  <button type="submit" name="button">Play</button>
</form>

}
